	<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">New User</h4>
				</div>
				<h1 class="text-center">Sign up</h1>

				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				<div class="form-field"><%= f.label :name %>
					<%= f.text_field :name, :autofocus => true, :required => true %></div>

					<div class="form-field"><%= f.label :email %>
						<%= f.email_field :email, :autofocus => true, :required => true %></div>

						<div class="form-field"><%= f.label :password %>
							<%= f.password_field :password, :minlength => 8, :required => true %></div>

							<div class="form-field"><%= f.label :password_confirmation %>
								<%= f.password_field :password_confirmation, :required => true %></div>

								<div class="form-field"><%= f.label :charity %>
									<%= f.select(:charity, $charities) %></div>

									<div class="form-field"><%= f.submit "Sign up", :class => "cta btn btn-primary" %></div>
									<% end %>
									tre
								<!--div class="links text-center">
									<%= render "devise/shared/links" %>
								</div-->
							</div>
							<script>
								var password = document.getElementById("user_password")
								var confirm_password = document.getElementById("user_password_confirmation");

								function validatePassword(){
									if(password.value != confirm_password.value) {
										confirm_password.setCustomValidity("Passwords Don't Match");
									} else {
										confirm_password.setCustomValidity('');
									}
								}

								password.onchange = validatePassword;
								confirm_password.onkeyup = validatePassword;
								</script