<section>
	<div class="container">
		<h1 class="text-center">Your Brackets</h1>

		<div class="row">
			<div class="col-sm text-center">
				<% if @brackets.present? %>
				<%= render "brackets_table" %>
				<% else %>
				<p class="lead">
					Brackets open after Selection Sunday (March 13th). But in the meantime, you can get started on getting activated:
				</p>
				<p>
					<= link_to 'Click Here to Donate', new_donation_path, :class => "btn btn-primary btn-lg" %>
					<br />
					<h1>OR</h1>
					<br />
					<span class="lead">
					Spread the word about Brackets 4 Life and refer 3 people!
					</span>
				</p>
				<% end %>
			</div>
			<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-bracket">
				Create new bracket
			</button> -->
			<h1>
			So far, you have <%= @referred %> credits. Each successful referral gets you one more. Share this link: 
			<h3><%= link_to(@referral_url, @referral_url) %></h3>
				<div id="share_buttons"></div>
				<script>
					$('#share_buttons').share({
						networks: ['email', 'twitter','facebook','tumblr','pinterest','googleplus'],
						orientation: 'horizontal',
						urlToShare: "<%= @referral_url %>",
						title: "Join Brackets4Life!",
						pageDesc: "I just signed up for the Brackets 4 Life 2016 March Madness Tournament to help in the fight against SIDS! Join me:" 
					});

				</script>
			</h1>
		</div>
	</div>
	<%= render 'new_bracket_modal' %>
</section>
