<section>
	<div class="container">
		<h1 class="text-center">Brackets</h1>

		<div class="row">
			<div class="col-sm">
				<% if @brackets.present? %>
				<%= render "brackets_table" %>
				<% else %>
				<p class="lead text-center">
					Make a new Bracket:
				</p>
				<p class="text-center">
					<%= link_to 'Donate', new_donation_path, :class => "btn btn-primary btn-lg" %>
				</p>
				<% end %>
			</div>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-bracket">
				Create new bracket
			</button>
			<h1>
			You've successfully referred <%= @referred %> people. Use this URL to refer more: 
			<h3><%= link_to(@referral_url, @referral_url) %></h3>
				<div id="share_buttons"></div>
				<script>
					$('#share_buttons').share({
						networks: ['email', 'twitter','facebook','tumblr','pinterest','googleplus'],
						orientation: 'horizontal',
						urlToShare: "<%= @referral_url %>"
					});

				</script>
			</h1>
		</div>
	</div>
	<%= render 'new_bracket_modal' %>
</section>
