<section>
	<div class="container">
		<h1 class="text-center">Tournament Leaderboard</h1>
		<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step1.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>1. Sign up with Email</h2>
				<p>
					You can get started by using an email/password combination.
				</p>
			</div>
		</div>
		<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step2.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>2. Pick your Winners and Create a Bracket</h2>
				<p>
					After Selection Sunday, March 16th, you can create one bracket. 
					In other words, you can try to predict the winners of each
					match in the NCAA Men's Basketball Tournament.
				</p>
			</div>
		</div>
		<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step3.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>3. Pick a Charity</h2>
				<p>
					We all know you have charities you want to donate to, pick one to support and have a chance for them to win!
				</p>
			</div>
		</div>
			<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step3.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>4. Choose How Much You'd Like to Donate or Refer 3 Friends</h2>
				<p>
					The minimum donation for creating a bracket is $5, but you
					can be entered to win if 3 of your friends sign up too. 
				</p>
			</div>
		</div>
			<div class="row step">
			<div class="col-sm-3">
				<%= image_tag "step5.svg", :class => "step-image" %>
			</div>
			<div class="col-sm-9 step-description">
				<h2>5. Win Prizes!</h2>
				<p>
					
				</p>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3">
				<h2>Additional Details</h2>
				<p>
					As the tournament progresses, you'll earn points for every prediction
					you get right. We'll post a leaderboard of the users with the most
					points.
				</p>
				<p>
					The proceeds will be divided in half. 50% will go toward research
					on Sudden Infant Death Syndrome. The top 5 users will each get to
					donate 10% of the proceeds to the charity of their choice.
				</p>
			</div>
		</div>
	</div>
</section>