<!DOCTYPE html>
<html>
<head>
	<title>Brackets4life</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css">
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta content="Brackets 4 Life hosts an annual Charity March Madness Bracket Tournament with the primary goal of raising money and awareness for Sudden Infant Death Syndrome (SIDS) research."
		  property="og:description" />
	<meta content="https://brackets4life.com/assets/logobig.png" property="og:image" />
	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<script src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>

	<%= render "shared/nav" %>
	
	<div class="page-wrap">
		<%= render "shared/alerts" %>
		<%= yield %>
	</div>

	<%= render "shared/footer" %>
	<%= render "brackets/sign_up_modal" %>
</body>
</html>
